body {
    font-family: Verdana, Arial, sans-serif;
}

.app {
    max-width: 1200px;
    margin: 100px auto;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.list-container div{
    margin-top: 10px; 
    padding: 10px;
}

.checked-item,
.not-checked-item {
    /* margin-left: 10px; */
}

.checked-item {
    text-decoration: line-through;
}

.otziv{
    border: 1px solid #000;
    width: 800px;
    height: 600px;
    padding: 10px;
    box-sizing: border-box;
}

.name{
    padding: 10px;
    width: 216px;
    font-size: 18px;
}
.list-container div:first-child,
.list-container div:nth-child(2){
    background: silver;
}
span{
    margin-left: 10px;
}